.item-rating {
    display: flex;
    gap: 5px;
    cursor: pointer;
  }
  
  .star {
    font-size: 15px;
    color: lightgray;
    transition: color 0.2s;
  }
  
  .star.active {
    color: gold;
  }
  
  .star:hover,
  .star:hover ~ .star {
    color: gold;
  }
  .item-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px  10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}
.item-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.item-item-info {
    padding: 20px;
}
.item-item-name-rating {
    align-items: center;
    margin-bottom: 10px;
    display: contents;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; */
}
.item-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
}
.item-item-desc {
    color: #767676;
    font-size: 13px;
}
.item-item-price {
    color: tomato;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px;
}
.item-item-img-container {
    position: relative;
}
.item-item-img-container .add {
    width: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.item-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}
.item-item-counter img {
    width: 20px;
}
  