.item-display {
    margin-top: 30px;
}
.item-display h2 {
    font-size: max(2vw,24px);
    font-weight: 600;
}
.item-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(140px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
.item-display-list img {
    width: 100%;        
    max-height: 120px;  
    object-fit: cover;  
}



.item-container {
    position: relative;
    display: inline-block;
  }
  
  /* Hide description by default */
.item-description {
    display: none; /* Hidden initially */
    background: #f9f9f9;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Show description when the item is selected */
  .item-container .item-description {
    display: block;
  }
  
  .item-description p {
    font-size: 14px;
    color: #333;
  }
  
  .item-description button {
    margin-top: 5px;
    padding: 5px 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }