.header {
    height: 40vw;
    margin: 30px auto;
    background: url('/header3.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
}
.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 10vw;
    color: white;
}