.header {
    height: 35vw;
    width: 100%;
    margin: 30px auto;
    background: url('/header3.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
}
.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 10vw;
}
.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(3.5vw,22px);
}
.header-contents p {
    color: white;
    font-size: 2vw;
}
