.explore-menu-list-item img {
    width: 100px;  
    height: 100px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 2px solid #fff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer;  /* Ensures the entire clickable */
}
.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-menu h1 {
    color: var(--color-text);
    font-weight: 500;
}
.explore-menu-text {
    max-width: 60%;
    color: var(--color-text);
}
.explore-menu-list {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item p {
    margin-top: 10px;
    color: var(--color-text);
    font-size: max(1.1vw,16px);
    cursor: pointer;
}
.explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: var(--color-text);
    border: none;
}
.explore-menu-list-item .active {
    border: 4px solid tomato;
    padding: 2px;
}
.explore-menu-list-item img.active {
    transform: scale(1.1); /* Slight zoom img effect */
    transition: all 0.3s ease-in-out;
 }
 
