.explore-menu-list-item img {
    width: 100px;  /* Adjust as needed */
    height: 100px; /* Same as width to make it a perfect circle */
    object-fit: cover; /* Ensures the image fits well inside the circle */
    border-radius: 50%; /* This makes it a circle */
    border: 2px solid #fff; /* Optional: Add a border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for effect */
}
.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-menu h1 {
    color: var(--color-text);
    font-weight: 500;
}
.explore-menu-text {
    max-width: 60%;
    columns: var(--color-text);
}
.explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item p {
    margin-top: 10px;
    color: var(--color-text);
    font-size: max(1.1vw,16px);
    cursor: pointer;
}
.explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: var(--color-text);
    border: none;
}
